In [2]:
import pandas as pd
import numpy as np

In [3]:
hydrants_df = pd.read_csv('https://raw.githubusercontent.com/RebeccaVachon/data_1_checks/main/assets/Fire_Hydrants__Greater_Cincinnati_Water_Works_.csv')
hydrants_df.head()

,OBJECTID,ASSETID,LIFECYCLESTATUS,SERVICEAREA,STATICPRESSURE,LATITUDE,LONGITUDE,NEIGHBORHOOD
0,520,350881,AC,CE,74.0,39.098730,-84.512535,DOWNTOWN
1,521,341640,AC,EH,147.0,39.130454,-84.428866,HYDE PARK
2,522,348601,AC,MW,70.0,39.068912,-84.366412,NaN
3,523,329047,AC,BR,71.0,39.227609,-84.374410,NaN
4,524,321511,AC,WH,69.0,39.294399,-84.507339,NaN

In [6]:
n, num_columns = hydrants_df.shape
print ("This is the number of rows: ", n)
print ("This is the number of colums: ", num_columns)

This is the number of rows:  35392
This is the number of colums:  8

In [10]:
neighborhood = list(hydrants_df['NEIGHBORHOOD'].unique())
neighborhood

['DOWNTOWN',
 'HYDE PARK',
 nan,
 'KENNEDY HEIGHTS',
 'EVANSTON',
 'CUF',
 'PLEASANT RIDGE',
 'WALNUT HILLS',
 'MT. LOOKOUT',
 'COLLEGE HILL',
 'AVONDALE',
 'QUEENSGATE',
 'BOND HILL',
 'ROSELAWN',
 'MT. AIRY',
 'CLIFTON',
 'WEST PRICE HILL',
 'PENDLETON',
 'MT. AUBURN',
 'OAKLEY',
 'NORTH FAIRMOUNT',
 'EAST PRICE HILL',
 'NORTHSIDE',
 'RIVERSIDE',
 'OVER-THE-RHINE',
 'WESTWOOD',
 'CARTHAGE',
 'MT. WASHINGTON',
 'WEST END',
 'MADISONVILLE',
 'CALIFORNIA',
 'HARTWELL',
 'SAYLER PARK',
 'SOUTH CUMMINSVILLE',
 'NORTH AVONDALE - PADDOCK HILLS',
 'SOUTH FAIRMOUNT',
 'CAMP WASHINGTON',
 'SPRING GROVE VILLAGE',
 'EAST WALNUT HILLS',
 'MT. ADAMS',
 'MILLVALE',
 'SEDAMSVILLE',
 'LINWOOD',
 'ENGLISH WOODS',
 'CORRYVILLE',
 'EAST END',
 'EAST WESTWOOD',
 'WINTON HILLS',
 'LOWER PRICE HILL',
 'COLUMBIA TUSCULUM',
 'VILLAGES AT ROLL HILL']

In [12]:
service_area = list(hydrants_df['SERVICEAREA'].unique())
service_area

['CE',
 'EH',
 'MW',
 'BR',
 'WH',
 'MS',
 'MN',
 'CG',
 'EAR',
 'BJ',
 'CA',
 'CR',
 'ESR',
 'EHR',
 'MR',
 'MSR',
 'FS',
 'CART',
 nan,
 'ECR']